.mentionsCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: linear-gradient(150deg, #092B48, #124877 70%, #124877);
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.mentionsImage {
    filter: sepia(90%) saturate(150%) hue-rotate(180deg) brightness(90%);
    margin-left: 20px;
    width: 300px;
    height: auto;
}

.mentionsCardRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 700px;
    padding: 0 30px;
}

.mentionsCardTitle {
    margin-top: 20px;
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
}

.mentionsCardSubTitle {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.mentionsCardText {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .mentionsCard {
        flex-direction: column;
        padding: 30px 20px;

    }

    .mentionsButton {
        margin-top: 20px;
    }

    .mentionsImage {
        width: 250px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .mentionsCardRight {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .mentionsCardTitle {
        font-size: 36px;
        line-height: 36px;
        margin-top: 10px;
    }

    .mentionsCardSubTitle {
        font-size: 18px;
    }

    .mentionsCardText {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .mentionsImage {
        width: 180px;
    }

    .mentionsCardTitle {
        font-size: 28px;
    }

    .mentionsCardSubTitle,
    .mentionsCardText {
        font-size: 16px;
    }
}
