
/* first section - title */
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px; /* set the maximum width */
    width: 85%;
    height:50vh;
}

.titleColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 555px;
}

.drivenByPassion,.visionTitle, .originsTitle {
    font-weight: 600;
    font-size: 62px;
    line-height: 62px;
}

.welcomeTo, .vision, .origins, .project {
    font-weight: 400;
    font-size: 21px;
    margin: 15px 0 35px 0;
}

.titleButtons,.visionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.joinUsTitleButton, .peopleVisionButton {
    background-color: white;
    min-width: 230px;
    border: none;
    color: #061E33;
}

.showMenu {
    cursor: pointer;
}

.aboutUsTitleButton,.galleryVisionButton {
    background-color: transparent;
    min-width: 270px;
    margin-left: 10px;
    border: solid 2px white
}

/* logo */
.logoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    margin-left: 25px;
}

/* second section - awards */
.awardsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
}

.awards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1100px;
    width: 100%;
    margin: 0 20px;
}

.outstandingAward {
    opacity: 1;
    margin: 1rem;
    width: 15vw;
    height: auto;
    filter: grayscale(100%);
}

/* third section - vision */
.visionContainer, .originsContainer, .projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1450px;
    margin-top: 100px;
    overflow: hidden;
}

.visionLeft, .originsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    height: auto;
    width: 60%;
}

.visionImage, .originsImage {
    margin: 0 3vw;
    object-fit: cover;
    width: 45%;
    height: auto;
    border-radius: 20px;
}

.visionText, .originsText, .projectsText {
    font-weight: 500;
    font-size: 20px;
}

/* fourth section: origins */
.originsRight {
    padding-left: 40px;
}

.originsImage {
    margin: 0 0 0 3vw;
}

.originsButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.readMeOriginsButton {
    background-color: white;
    min-width: 230px;
    border: none;
    color: #061E33;

}

/* fifth section: projects */
.projectsContainer {
    background: none;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projectsTitle {
    font-weight: 600;
    font-size: 45px;
}

.projectsCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.projectsLeft, .projectsCenter, .projectsRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #64748C 43.23%, rgba(100, 116, 140, 0.00) 100%);    width: 30%;
    border-radius: 20px;
    overflow: hidden;
}

.projectsImageClip {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0 20px 0;
}

.projectsPicture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projectTitle {
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.project {
    padding: 0 20px;
    max-height: 50vh;
}

/* sixth section: apply */

.applyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    width: 85%;
    max-width: 1450px;
    height: 50%;
    border-radius: 40px;
    background: white;
    margin: 150px 0 100px 0;
}

.textAreYouReady {
    color: #061E33;
    font-weight: 500;
    font-size: 19px;
    margin:0 0 30px 0;
}

.textJoinOurChapter {
    color: #061E33;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.buttonJoinUs {
    background-color: #11283b;
    margin: 30px 0 10px 0;
    padding: 17px 80px;
}



@keyframes wobble {
    0% {
        transform: rotateY(0deg) translateY(-2px);
    }
    15% {
        transform: rotateY(15deg) translateY(-3.5px);
    }
    25% {
        transform: rotateY(25deg) translateY(-4.5px);
    }
    30% {
        transform: rotateY(20deg) translateY(-5px);
    }
    50% {
        transform: rotateY(0deg) translateY(-3px);
    }
    75% {
        transform: rotateY(-25deg) translateY(-0.5px);
    }
    80% {
        transform: rotateY(-20deg) translateY(0px);
    }
    100% {
        transform: rotateY(0deg) translateY(-2px);
    }
}

@media screen and (max-width: 1100px) {

    .peopleVisionButton, .galleryVisionButton,
    .joinUsTitleButton, .aboutUsTitleButton {
        min-width: 200px;
        width: 50%;
        max-width: 200px;
        margin-bottom: 3rem;
        padding: .8rem;
    }


    .outstandingAward {
        width: 18vw;
    }

    .visionImage {
        width: calc(40% - 6vw);
    }

}

@media screen and (max-width: 768px) {
    .awards {
        flex-wrap: wrap;
    }

    .outstandingAward {
        width: 30vw;
        min-width: 200px;
    }

    .drivenByPassion {
        font-size: 40px;
    }

    .textJoinOurChapter {
        font-size: 36px;
        line-height: 36px;
    }

    .visionContainer {
        flex-direction: column;
    }

    .visionLeft {
        width: 100%;
    }

    .visionImage {
        margin: 0;
        width: 100%;
    }

    .peopleVisionButton, .galleryVisionButton,
    .joinUsTitleButton, .aboutUsTitleButton {
        min-width: 120px;
        width: 50%;
        max-width: 200px;
        margin-bottom: 3rem;
        padding: .8rem;
    }

    .projectsCards {
        flex-direction: column;
    }

    .projectsCenter, .projectsLeft, .projectsRight {
        width: 100%;
    }

    .visionLeft {
        padding: 0;
    }

    .originsContainer {
        flex-direction: column;
    }

    .originsImage {
        width: 100%;
        margin: 0;
    }

    .originsTitle {
        margin: 1rem 0;
    }

    .originsRight {
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 440px) {

    .drivenByPassion {
        line-height: 35px;
        font-size: 30px;
    }
}
