.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;

  &__arrows {
    margin-top: 120px;
  }

  &__uptitle {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    max-width: 200px;
    margin-bottom: 25px;
  }

  &__name {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__date {
    align-self: flex-start;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 45px;
  }

  @media (max-width: 768px) {


    &__uptitle {
      font-size: 16px;
    }

    &__title {
      font-size: 28px;
      max-width: 100%;
    }

    &__name,
    &__date {
      font-size: 18px;
    }
    &__center {
      margin: 0 20px;
    }
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80vw;
  height: calc(50vw + 50px);
  max-width: 800px;
  max-height: 500px;

  &__container {
    background-color: #375171;
    position: absolute;
    transition: all 0.6s ease;
    top: 40px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 3;

    &__0 {
      width: 100%;
      height: calc(100% - 40px);
      top: 40px;
      left: 0;
      opacity: 1;
      z-index: 3;
    }

    &__1 {
      width: 92%;
      height: 92%;
      top: 20px;
      left: 4%;
      opacity: 0.8;
      z-index: 2;
    }

    &__2 {
      width: 86%;
      height: 86%;
      top: 0;
      left: 7%;
      opacity: 0.4;
      z-index: 1;
    }

    &__4 {
      width: 80%;
      height: 80%;
      top: -3px;
      left: 10%;
      opacity: 0;
      z-index: 0;
    }

    &__next {
      width: 100%;
      height: calc(100% - 40px);
      top: 40px;
      left: 0;
      opacity: 0;
      z-index: 3;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {

    .carousel {
      width: 60vw; // più stretto
    }
  }

