.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  max-width: 1450px;
  margin-top: 50px;
  overflow: hidden;

  &__image {
    margin: 0 3vw;
    object-fit: cover;
    width: 45%;
    height: 400px;
    border-radius: 20px;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    margin: 0 1vw;
    flex-direction: column;

    &__title {
      font-weight: 600;
      font-size: 63px;
      line-height: 63px;

      @media (max-width: 550px) {
        font-size: 50px;
        line-height: 50px;
      }
    }

    &__subtitle {
      font-weight: 500;
      font-size: 23px;

      @media (max-width: 550px) {
        font-size: 19px;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 24px;
      margin: 0 0 35px 0;
      padding-top: 30px;

      @media (max-width: 550px) {
        font-size: 17px;
        padding-top: 10px;
      }
    }

  }
}

.alumniContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__directory {
    color: #F2F2F2;
    text-align: center;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__alumni {
    color: #F2F2F2;
    text-align: center;
    font-family: Outfit;
    font-size: 58px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 59px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 30px 10px 10px 10px;

    @media (max-width: 1030px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 510px) {
      grid-template-columns: 1fr;
    }
  }
}
