/* 1st section: LATEST EVENT */
.latestEventContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 40px;
}

.latestEventImage {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.latestEventRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 48%;
    height: 100%;
    padding: 20px;
    margin-left: 20px;
}

.lateEventLocation, .latestEventDate, .pastText {
    font-weight: 500;
    font-size: 20px;
}

.latestEventTitle {
    font-weight: 600;
    font-size: 60px;
    margin: 0 0 20px 0;
}

.latestEventDesc {
    font-size: 21px;
    font-weight: 400;
    width: 100%;
    word-wrap: break-word;
    margin: 0 0 25px 0;
}

.latestEventButton {
    padding-left: 75px;
    padding-right: 75px;
    background: white;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* 2nd section: PAST YEARS */
.pastContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 100px 0;
}

.pastTitle {
    font-weight: 600;
    font-size: 45px;
}

.pastEvents {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.pastEventsButton {
    position: absolute;
    top: 13px;
    left: -50px;
    background: #061E33;
}

.pastEventsButton:last-child {
    right: -50px;
    left: initial;
}

