/* 1st section: LATEST EVENT */
.latestEventContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 40px;
}

.latestEventImage {
    width: 100%; 
    max-width: 525px; 
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
}

.latestEventRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 48%;
    height: 100%;
    padding: 20px;
    margin-left: 20px;
}

.lateEventLocation, .latestEventDate, .pastText {
    font-weight: 500;
    font-size: clamp(16px, 2vw, 20px); /* Usa clamp per i testi responsivi */
}

.latestEventTitle {
    font-weight: 600;
    font-size: clamp(36px, 5vw, 60px); /* Rende il titolo scalabile */
    margin: 0 0 20px 0;
}

.latestEventDesc {
    font-size: clamp(16px, 2vw, 21px); /* Adatta la descrizione ai vari dispositivi */
    font-weight: 400;
    width: 100%;
    word-wrap: break-word;
    margin: 0 0 25px 0;
}

.latestEventButton {
    padding-left: 75px;
    padding-right: 75px;
    background: white;
    text-align: center;
    font-family: Outfit;
    font-size: clamp(16px, 2vw, 20px); 
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* 2nd section: PAST YEARS */
.pastContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 100px 0;
}

.pastTitle {
    font-weight: 600;
    font-size: clamp(30px, 5vw, 45px); 
}

.pastEvents {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.pastEventsButton_1 {
    position: absolute;
    top: 13px;
    left: calc(15% - 65px);
    background: #061E33;
}

.pastEventsButton_2 {
    position: absolute;
    top: 13px;
    right: calc(15% - 65px);
    background: #061E33;
}

/* Responsive Design - mobile e tablet */
@media (max-width: 768px) {

    .latestEventContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .latestEventImage {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .latestEventRight {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    .latestEventTitle {
        font-size: clamp(24px, 5vw, 36px);
        text-align: center;
    }

    .latestEventDesc {
        font-size: clamp(14px, 2vw, 16px);
        text-align: center;
    }

    .latestEventDate,
    .lateEventLocation {
        font-size: clamp(14px, 2vw, 16px);
        text-align: center;
        width: 100%;
    }

    .latestEventButton {
        width: 100%;
        padding: 15px 0;
        font-size: clamp(16px, 2vw, 18px);
    }

    .pastContainer {
        margin: 50px;
        width: 90%;
    }

    .pastTitle {
        font-size: clamp(24px, 5vw, 30px);
        text-align: center;
    }

    .pastText {
        font-size: clamp(14px, 2vw, 16px);
        text-align: center;
    }

    .pastEventsButton_1 {
        top: 0%;
    }
    .pastEventsButton_2 {
        top: 0%;
    }
}


