.backgroundPolygons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    background-color: #091721; /* set the initial gradient */
    transition: background 0.5s ease-out;
    z-index: 0;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    backdrop-filter: blur(12vmax);
}

/*.blob {
    height: 22vw;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, #041098, aquamarine);
    animation: rotate 10s linear infinite;
    filter: blur(2px);
    opacity: 0.9;
}*/

.triangleLeft1 {
    position: absolute;
    width: 270px;
    height: 240px;
    margin-left: 10px;
    background: linear-gradient(to top, #FF0000, #FCA702 60%, #FCA702);
    clip-path: polygon(0 0, 100% 0, 8% 100%);
}

.triangleLeft2 {
    position: absolute;
    width: 170px;
    height: 340px;
    margin-left: 80px;
    background: linear-gradient(to bottom, #efab00, #FFC700);
    clip-path: polygon(0 0, 100% 0%, 20% 100%);
}

.triangleLeft3 {
    position: absolute;
    width: 270px;
    height: 280px;
    margin-left: 120px;
    background: linear-gradient(150deg, #FCB702, #FCB702 20%, rgba(255,23,0,1) 75%, rgba(255,23,0,1) 100%);
    clip-path: polygon(0 0%, 30% 0%, 100% 80%);
}



.triangleRight1 {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 130px;
    right: -670px;
    background: linear-gradient(to bottom, rgba(252,167,2,1) 0%, rgba(211,88,18,1) 72%, rgba(181,29,29,1) 100%);
    clip-path: polygon(0 0, 70% 100%, 100% 60%);
}

.triangleRight2 {
    position: absolute;
    width: 1200px;
    height: 750px;
    top: 290px;
    right: -620px;
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(252,183,2,1) 63%, rgba(252,183,2,1) 100%);
    clip-path: polygon(50% 0, 100% 40%, 0 100%);
}

.triangleRight3 {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 230px;
    right: -300px;
    background: linear-gradient(to top, rgba(255,0,0,1) 0%, rgba(252,167,2,1) 35%, rgba(252,167,2,1) 100%);
    clip-path: polygon(95% 0, 100% 35%, 0 100%);
}



.triangleLeft4 {
    position: absolute;
    width: 400px;
    height: 650px;
    top: 1800px;
    left: -120px;
    background: linear-gradient(117deg, rgba(252,167,2,1) 0%, rgba(211,88,18,1) 45%,  rgba(181,29,29,1) 55%, rgba(181,29,29,1) 100%);
    clip-path: polygon(0 25%, 20% 100%, 100% 0);
}

.triangleLeft5 {
    position: absolute;
    width: 700px;
    height: 800px;
    top: 1540px;
    left: -200px;
    background: linear-gradient(120deg, rgba(255,0,0,1) 0%, rgba(252,183,2,1) 53%, rgba(252,183,2,1) 100%);
    clip-path: polygon(10% 35%, 100% 0, 0 100%);
}

.triangleLeft6 {
    position: absolute;
    width: 500px;
    height: 850px;
    top: 1200px;
    left: -200px;
    background: linear-gradient(to right, rgb(252, 144, 2) 0%, rgb(252, 173, 2) 60%, rgba(252,183,2,1) 100%);
    clip-path: polygon(0 0, 100% 20%, 0 100%);
}



.triangleRight5 {
    position: absolute;
    width: 270px;
    height: 240px;
    margin-left: 50px;
    background: linear-gradient(to top, #ff0001, #fca702);
    clip-path: polygon(0 0, 100% 0, 8% 100%);
}

.triangleRight6 {
    position: absolute;
    width: 170px;
    height: 340px;
    margin-left: 100px;
    background: linear-gradient(to bottom, #e38f01, #ffc700);
    clip-path: polygon(0 0, 100% 0%, 20% 100%);
}

.triangleRight7 {
    position: absolute;
    width: 270px;
    height: 280px;
    margin-left: 80px;
    background: linear-gradient(to bottom, rgba(251,183,5,1) 0%, rgba(252,183,1,1) 40%, rgba(255,23,0,1) 100%);
    clip-path: polygon(0 0%, 30% 0%, 100% 100%);
}



.triangleLeft7 {
    position: absolute;
    width: 270px;
    height: 240px;
    margin-left: 50px;
    background: linear-gradient(to top, #ff0001, #fca702);
    clip-path: polygon(0 0, 100% 0, 8% 100%);
}

.triangleLeft8 {
    position: absolute;
    width: 170px;
    height: 340px;
    margin-left: 100px;
    background: linear-gradient(to bottom, #e38f01, #ffc700);
    clip-path: polygon(0 0, 100% 0%, 20% 100%);
}

.triangleLeft9 {
    position: absolute;
    width: 270px;
    height: 280px;
    margin-left: 80px;
    background: linear-gradient(to bottom, rgba(251,183,5,1) 0%, rgba(252,183,1,1) 40%, rgba(255,23,0,1) 100%);
    clip-path: polygon(0 0%, 30% 0%, 100% 100%);
}



.triangleCenter1 {
    position: absolute;
    width: 270px;
    height: 240px;
    margin-left: 50px;
    background: linear-gradient(to top, #ff0001, #fca702);
    clip-path: polygon(0 0, 100% 0, 8% 100%);
}

.triangleCenter2 {
    position: absolute;
    width: 170px;
    height: 340px;
    margin-left: 100px;
    background: linear-gradient(to bottom, #e38f01, #ffc700);
    clip-path: polygon(0 0, 100% 0%, 20% 100%);
}

.triangleCenter3 {
    position: absolute;
    width: 270px;
    height: 280px;
    margin-left: 80px;
    background: linear-gradient(to bottom, rgba(251,183,5,1) 0%, rgba(252,183,1,1) 40%, rgba(255,23,0,1) 100%);
    clip-path: polygon(0 0%, 30% 0%, 100% 100%);
}


@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
