.backgroundPolygons {
    width: 100%;
    margin: 0rem;
    overflow: hidden;
    background-color: #091721; /* set the initial gradient */
    transition: background 0.5s ease-out;
    z-index: 0;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    backdrop-filter: blur(12vmax);
}

/*.blob {
    height: 22vw;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, #041098, aquamarine);
    animation: rotate 10s linear infinite;
    filter: blur(2px);
    opacity: 0.9;
}*/


@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
