.footer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
}

.columnLogo {
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 8vw;
}

.column {
    display:flex;
    flex-direction: column;
    margin-right: 8vw;
}

.columnTitle {
    display:flex;
    flex-direction: column;
    height: 51px;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 600;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3px;
}
