.footer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 1;
    background: linear-gradient(0deg, #061E33 0%, #061E33 100%);
    width: 100%;
    padding: 20px 8vw;
    border-top: solid 5px white;
}

.columnLogo {
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 8vw;
}

.column {
    display:flex;
    flex-direction: column;
    margin-right: 8vw;
}

.columnTitle {
    display:flex;
    flex-direction: column;
    height: 51px;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 600;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3px;
}

.columnLogoSociety {
    height: 100%;
    margin-left: -3vw;
}

.logoSociety {
    object-fit: cover;
    width: 100px;
    height: auto;
}
