.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 130px;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
    padding-bottom: 20px;
}

.logoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7%
}

.logo {
}

.title {
    display:flex;
    flex-direction: column;
    height: 51px;
    justify-content: center;
    margin-bottom: 8px;
    margin-left: 12px;
}

.menu {
    display: flex;
    width: 45%;
    justify-content: space-between;
    font-size: 1.3em;
    flex-direction: row;
    padding-left: 5%;
}

.active, .inactive {
    font-family: "Outfit", serif;
    margin: 0 10px;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

.inactive {
    background: rgba(0,0,0,0);
    border-width: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.headerSpace {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    padding-right: 5%;
    flex:1;
}


.joinUsButton {
    padding: 10px 25px;
    background-color: white;
    color: #061E33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.menuItem {
    position: relative;
}

.dropdown {
    list-style-type: none;
    position: absolute;
    display: none;
    left: -50%;
    right: -50%;
    margin: auto;
}

.dropdown > li {
    cursor: pointer;
    text-align: center;
    padding: .1em .5em;
    transition: .1s ease-out background-color, .1s ease-out color;
    background: #f2f2f2;
    color: #061E33;
    width: 160px;
}

.dropdown > li:hover,
.dropdown > li.activeDropdown {
    background: #061E33;
    color: #f2f2f2;
}

.menu > .menuItem:hover > .dropdown,
.dropdown:hover {
    display: block;
}

.arrowDown {
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f2f2f2;
}
