.logoContainer {
    position: relative;
    width: 500px;
    height: 500px;
}
.maskedBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 610px;
    height: 610px;
}
@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}