.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.darkBg {
    background: #061E33;
}

.pageContent {
    margin-top: 0; /* Adjust the value if your header height changes */
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
