.yearEventsColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0 10px;
}

.yearCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    background: linear-gradient(268deg, #FFF 71.01%, #B8BBBF 145.39%);
}

.year {
    color: black;
    font-weight: 600;
    font-size: 45px;
}

.eventRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.eventLink {
    width: 30%;
    height: 200px;
}

.eventImage {
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.divider {
    width: 5px;
    margin: 0 15px;
}

.eventCard {
    border-radius: 20px;
    background: linear-gradient(to left, #061E33 35%, #124877);
    width: calc(70% - 35px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0;
    padding: 25px;
    position: relative;
}

.eventCard:nth-child(1):after {
    content: '';
    width: 5px;
    right: -20px;
    position: absolute;
    height: calc(100% + 30px);
    background-color: white;
}

.eventCard:nth-child(3)::before {
    content: '';
    width: 5px;
    left: -20px;
    position: absolute;
    height: calc(100% + 30px);
    background-color: white;
}

.eventLocation,
.eventDate {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 8px;
    width: 100%;
}

.eventLocation {
    margin-bottom: 20px;
}

.eventTitle {
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 20px 0;
    width: 100%;
}

.dividerContainer {
    width: 100%;
    padding: 0 calc(30% + 15px);
}

.horizontalDivider {
    width: 100%;
    align-self: center;
    justify-self: center;
    height: 5px;
    background-color: white;
}

.dividerEnd {
    bottom: 0;
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: white;
}