:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  max-width: 100vw;
  background: linear-gradient(359deg, #375171 40.21%, #061E33 95.37%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  scrollbar-width: none; /* hide the scrollbar */
  scrollbar-color: transparent transparent;
  overflow-x: hidden;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}


.roundButton {
  color: white;
  padding: 17px 25px;
  border-radius: 50px;
  border-width: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
}

.button {
  cursor: pointer;
}
