.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url("../public/backdrop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
