.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.ideogramma {
    align-self: flex-end;
    margin-right: 20vw;
    perspective: 1000px;
    animation: wobble 5s linear infinite;
    transform-origin: center;
}

.textRandom {
    margin-top: 50px;
}

.applyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    width: 75%;
    height: 50%;
    border-radius: 40px;
    background: linear-gradient(to right, #ffc300, #ff1300);
    margin: 40px 0;
}

.textAreYouReady {
    font-weight: 500;
    font-size: 19px;
}

.textJoinOurChapter {
    font-weight: 600;
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.buttonJoinUs {
    background-color: #11283b;
    color: white;
    border: none;
    font-family: Montserrat, serif;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 80px;
    border-radius: 50px;
    margin: 10px 0;
}

@keyframes wobble {
    0% {
        transform: rotateY(0deg) translateY(-2px);
    }
    15% {
        transform: rotateY(15deg) translateY(-3.5px);
    }
    25% {
        transform: rotateY(25deg) translateY(-4.5px);
    }
    30% {
        transform: rotateY(20deg) translateY(-5px);
    }
    50% {
        transform: rotateY(0deg) translateY(-3px);
    }
    75% {
        transform: rotateY(-25deg) translateY(-0.5px);
    }
    80% {
        transform: rotateY(-20deg) translateY(0px);
    }
    100% {
        transform: rotateY(0deg) translateY(-2px);
    }
}
