.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    max-width: 1100px;
    margin-bottom: 70px;
}

.pageSubtitle {
    font-size: 16px;
    font-weight: 400;
}

.pageTitle {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 2em;
}

/* Requirements */

.requirementRow {
    display: flex;
    justify-content: center;
}

.requirementImage {
    border-radius: 30px;
    flex: 1;
}

.requirementText {
    padding: 1em 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    flex: 1;
}

.requirementList {
    padding: 1em;
}

.image {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 4em 0;
}

.verticalSeparator {
    border-left: 4px solid #ddd;
    margin: 0 2em;
    width: 0;
}

.horizontalSeparatorContainer {
    margin: -10px 25% -10px calc(50% - 2px);
    align-items: center;
    display: flex;
    width: 25%;
}

.horizontalSeparatorContainer:nth-of-type(5) {
    margin: -10px calc(50% + 2px) -10px 25%;
    transform: rotateY(180deg);
}

.horizontalSeparator {
    border-top: 4px solid #ddd;
    display: inline-block;
    width: 100%;
    height: 0;
}

.emptyCircle {
    content: '';
    width: 20px;
    height: 20px;
    border: 4px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
}

.requirementRow:nth-of-type(4n) > .requirementText {
    text-align: right;
}

.requirementRow:nth-of-type(4n) > .requirementImage > img {
    margin-right: auto;
    margin-left: 0;
}

.requirementRow:nth-of-type(4n + 2) > .requirementImage > img {
    display: block;
    margin-left: auto;
}