/* 1st section: AWARDS */
.awardsCard {
    background: #FCA702;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1350px;
    border-radius: 40px;
    padding: 40px;
    margin-top: 100px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.awardsLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin: 0 70px;
}

.awardImage {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
}

.awardsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    padding: 0 40px;
}

.awardsText, .mentionsText {
    font-weight: 500;
    font-size: 20px;
}

.awardsText {
    color: #11283b;
}

.awardsTitle, .mentionsTitle  {
    font-weight: 600;
    font-size: 65px;
}

.awardsTitle {
    color: #11283b;
}

.awards, .professionalsText {
    font-weight: 400;
    font-size: 21px;
}

.awards {
    color: #11283b;
    margin: 15px 0 35px 0;
}

.awardsLeftButton, .awardsRightButton, .mentionsButton, .professionalsButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1A3247;
}

.awardsLeftButton {
    background: #FC5C02;
    left: -17px;
}

.awardsRightButton {
    background: #FC5C02;
    right: -17px;
}


/* 2nd section: INTERNATIONAL COLLECTIVE */
.internationalCollective {
    background: linear-gradient(to right, rgba(254, 66, 1, 0.9), rgba(252, 167, 2, 0.9));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.internationalCollectiveText {
    color: white;
    font-weight: 600;
    font-size: 42px;
    width: 500px;
    text-align: center;
    margin-left: 100px;
}

/* 3rd section: MENTIONS */
.mentionsCard {
    position: relative;
    background: linear-gradient(to right, #061E33, #061E33 30%, rgba(17, 40, 59, 0));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1350px;
    border-radius: 40px;
    padding: 40px;
    margin-top: 100px;
}

.mentionsLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
}

.mentionsButton {
    right: 14px;
}


/* 4th section: PROFESSIONALS */
.professionalsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 100px 0;
}

.professionalsTitle {
    font-weight: 600;
    font-size: 45px;
}

.professionalsCards {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
    padding: 0;
}

.professionalsButton {
    right: -5px;
}

